site_name: ut-units
plugins:
    - search

docs_dir: doc
use_directory_urls: false

theme:
    name: material
    palette:
        scheme: slate

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

extra_css:
  - stylesheets/extra.css


nav:
    - 'index.md'
    - Quantity: 'quantity.md'
    - Aliases: 'aliases.md'
    - Units: 'units.md'
    - Functions: 'functions.md'